/*FOOTER*/        
.footer {
    background-color: $secondary-color;
    max-height: 300px;
    padding-top: $space-xl;
    &__group--one {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 $space-3xl 0 $space-4xl;
        @include mobile {
            flex-direction: column;
            min-width: 250px;
            margin: auto;
        }
        .footer__box{
            &__logo {
                margin-bottom: $space-lg;
                a {
                    text-decoration: none;
                    img {
                        position: relative;
                        height: 50px;
                        width: 50px;
                        margin-right: $space-xxs;
                        @include mobile {
                            height: 30px;
                            width: 30px;
                            margin: 0;
                        }
                    }
                }
            }
            &--title {
            font-size: $font-size-xs;
            text-align: center;
            margin-bottom: 5px;
            margin-right: $space-lg;
        }
        } 
        
        .footer__social-list {
            @include flex-center;
            list-style: none;
            margin-bottom: $space-sm;
            margin-right: $space-sm;
            &__icon {
                display: inline-block;
                width: 40px;
                height: 40px;
                &:hover {
                    color: $complementary-color;
                }
            }
        }
    }
    &__group--two {
        @include flex-center;
        border-top: 1px solid $primary-color;
        .footer__copy {
            padding: $space-sm 0;
            font-size: $font-size-xs;
        }
    }
}