@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  overflow-x: hidden;
}

/**
 * Modern CSS Reset Tweaks
 * ================================================== */
html {
  -webkit-text-size-adjust: 100%;
}
html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-size-adjust: 100%;
  position: relative;
  width: 100%;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
}

/* Box sizing normalization */
*,
::after,
::before {
  box-sizing: border-box;
}

/* Elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/**
 * CSS Reset Tweaks
 *
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0-modified | 20110126
 * License: none (public domain)
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/**
 * Input Reset
 */
input:required,
input {
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:focus {
  outline: none;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 */
[hidden] {
  display: none;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

/* Make pictures easier to work with */
picture {
  display: inline-block;
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
  border: 0;
  background: transparent;
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

[disabled] {
  pointer-events: none;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 */
input[type=checkbox],
input[type=radio] {
  padding: 0;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  border: 0;
  background: transparent;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

/**
 * Based on normalize.css v8.0.1
 * github.com/necolas/normalize.css
 */
hr {
  box-sizing: content-box;
  overflow: visible;
  background: #000;
  border: 0;
  height: 1px;
  line-height: 0;
  margin: 0;
  padding: 0;
  page-break-after: always;
  width: 100%;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 100%;
}

/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 75%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -5px;
}

sup {
  top: -5px;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  outline: 0;
}

legend {
  color: inherit;
  white-space: normal;
  display: block;
  border: 0;
  max-width: 100%;
  width: 100%;
}

fieldset {
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: block;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*=== Colores ===*/
/*=== Tipografia ===*/
/*font-size*/
/*font-weight*/
/*=== ESPACIADO ===*/
/* Pantallas
(Al usar el @content cada vez que llamemos al mixin y escribamos algo dentro esto reemplazara al  @content*/
/*Estilos por defecto para los botones*/
/*Estilos por defecto para los containers de la seccion del banner de cada pagina(primer seccion)*/
/*Estilos por defecto para la seccion del banner de cada pagina(primer seccion)*/
/*Estilos por defecto para las cards*/
/* Estilos para animacion de icono en el banner de las paginas que indica al usuario que debe scrollear */
.nav-link {
  color: #fff;
}

.footer__box__logo a {
  color: #fff;
}

.footer__box--title {
  color: #fff;
}

.footer__social-list__icon {
  color: #fff;
}

.footer__copy {
  color: #fff;
}

.events-section__event-text {
  color: #fff;
}

.ayuda__banner-section {
  color: #fff;
}

.ayuda__banner-section__button {
  color: #fff;
}

.contact-section__form__select {
  color: #fff;
}

.contact-section__form-button {
  color: #fff;
}

/*HEADER*/
.navbar {
  height: 90px;
  padding-left: 45px;
  padding-right: 40px;
  background-color: #222 !important; /*Aca use important porque era la unica forma en que me dejaba cambiar el color*/
}
@media screen and (max-width: 500px) {
  .navbar {
    height: 80px;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .navbar-brand {
    font-size: 1rem;
  }
}
.navbar-brand .logo {
  position: relative;
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
@media screen and (max-width: 500px) {
  .navbar-brand .logo {
    margin-right: 5px;
    height: 35px;
    width: 35px;
  }
}
@media screen and (max-width: 500px) {
  .navbar-toggler-icon {
    width: 20px;
  }
}
.navbar-nav .nav-item {
  padding-left: 40px;
  text-align: center;
  font-weight: 700;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .navbar-nav .nav-item {
    padding-left: 20px;
  }
}
.navbar-nav .nav-item .nav-link:hover {
  overflow: hidden;
  color: #afa2ff;
  transform: scale(1.1);
}

/*FOOTER*/
.footer {
  background-color: #222;
  max-height: 300px;
  padding-top: 30px;
}
.footer__group--one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 65px 0 80px;
}
@media screen and (max-width: 500px) {
  .footer__group--one {
    flex-direction: column;
    min-width: 250px;
    margin: auto;
  }
}
.footer__group--one .footer__box__logo {
  margin-bottom: 25px;
}
.footer__group--one .footer__box__logo a {
  text-decoration: none;
}
.footer__group--one .footer__box__logo a img {
  position: relative;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
@media screen and (max-width: 500px) {
  .footer__group--one .footer__box__logo a img {
    height: 30px;
    width: 30px;
    margin: 0;
  }
}
.footer__group--one .footer__box--title {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 25px;
}
.footer__group--one .footer__social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 15px;
  margin-right: 15px;
}
.footer__group--one .footer__social-list__icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.footer__group--one .footer__social-list__icon:hover {
  color: #afa2ff;
}
.footer__group--two {
  display: flex;
  justify-content: center;
  border-top: 1px solid #fff;
}
.footer__group--two .footer__copy {
  padding: 15px 0;
  font-size: 1rem;
}

/*===PÁGINA INICIO===*/
/*Primer seccion*/
.inicio__banner-section--container {
  background-image: linear-gradient(to top, rgba(116, 116, 117, 0.5), rgba(8, 8, 8, 0.8)), url(../img/banner-inicio.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 90px);
  color: #fff;
  position: relative;
}
.inicio__banner-section--container .inicio__banner-section {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
@media screen and (max-width: 500px) {
  .inicio__banner-section--container .inicio__banner-section {
    gap: 1.25rem;
  }
}
.inicio__banner-section--container .inicio__banner-section__title {
  font-size: 3.5rem;
  font-weight: 900;
}
@media screen and (max-width: 500px) {
  .inicio__banner-section--container .inicio__banner-section__title {
    font-size: 3rem;
  }
}
.inicio__banner-section--container .inicio__banner-section__description {
  font-weight: 700;
  font-size: 1.5rem;
  max-width: 50ch;
}
@media screen and (max-width: 500px) {
  .inicio__banner-section--container .inicio__banner-section__description {
    font-size: 1.25rem;
  }
}
.inicio__banner-section--container .inicio__banner-section__button {
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  max-width: 250px;
  color: #fff;
  background-color: #222;
  transition: background-color 0.3s, color 0.3s;
}
.inicio__banner-section--container .inicio__banner-section__button:hover {
  background-color: #fff;
  color: #222;
}
.inicio__banner-section--container .inicio__banner-section__scroll-animation {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 90%;
  overflow: hidden;
}
.inicio__banner-section--container .inicio__banner-section__scroll-animation span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  margin: 0.5rem;
  animation: scroll 2s infinite;
}
.inicio__banner-section--container .inicio__banner-section__scroll-animation span:nth-child(2) {
  animation-delay: -0.2s;
}
.inicio__banner-section--container .inicio__banner-section__scroll-animation span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes scroll {
  0% {
    opacity: 1;
    transform: rotate(45deg) translate(-20x -20px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(45deg) translate(-20x -20px);
  }
}

/*Segunda seccion*/
.inicio__cards-section {
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
@media screen and (max-width: 500px) {
  .inicio__cards-section {
    padding: 3rem 1rem;
  }
}
.inicio__cards-section__card {
  background-color: white;
  box-shadow: 0px 1px 30px 0px #222;
  width: 260px;
  margin: 0.75rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.inicio__cards-section__card .inicio__cards-section__card-four--img, .inicio__cards-section__card .inicio__cards-section__card-three--img, .inicio__cards-section__card .inicio__cards-section__card-two--img, .inicio__cards-section__card .inicio__cards-section__card-one--img {
  height: 170px;
  margin-bottom: 1rem;
  background-size: cover;
}
.inicio__cards-section__card-one--img {
  background-image: url("../img/inicio1.webp");
}
.inicio__cards-section__card-two--img {
  background-image: url("../img/inicio2.webp");
}
.inicio__cards-section__card-three--img {
  background-image: url("../img/inicio3.webp");
}
.inicio__cards-section__card-four--img {
  background-image: url("../img/inicio4.webp");
}
.inicio__cards-section__card-title {
  color: #222;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 0.75rem;
}
.inicio__cards-section__card-description {
  padding: 0.75rem;
}
.inicio__cards-section__card-button {
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  max-width: 250px;
  color: #fff;
  background-color: #222;
  transition: background-color 0.3s, color 0.3s;
  background-color: #afa2ff;
  margin: auto;
}
.inicio__cards-section__card-button:hover {
  background-color: #fff;
  color: #222;
}
.inicio__cards-section__card-button:hover {
  background-color: #222;
  color: #fff;
}

/*PÁGINA TICKETS*/
/* Primer seccion */
.tickets__banner-section--container {
  background-image: linear-gradient(to top, rgba(156, 156, 158, 0.4), rgba(36, 36, 36, 0.6)), url(../img/banner-tickets.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 90px);
  color: #fff;
  position: relative;
  display: flex;
  overflow: hidden;
}
.tickets__banner-section--container .tickets__banner-section {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
@media screen and (max-width: 500px) {
  .tickets__banner-section--container .tickets__banner-section {
    gap: 1.25rem;
  }
}
.tickets__banner-section--container .tickets__banner-section__title {
  font-size: 3.5rem;
  font-weight: 900;
}
@media screen and (max-width: 500px) {
  .tickets__banner-section--container .tickets__banner-section__title {
    font-size: 3rem;
  }
}
.tickets__banner-section--container .tickets__banner-section__description {
  font-weight: 700;
  font-size: 1.5rem;
  max-width: 700px;
}
@media screen and (max-width: 500px) {
  .tickets__banner-section--container .tickets__banner-section__description {
    font-size: 1.25rem;
  }
}
.tickets__banner-section--container .tickets__banner-section__button {
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  max-width: 250px;
  color: #fff;
  background-color: #222;
  transition: background-color 0.3s, color 0.3s;
}
.tickets__banner-section--container .tickets__banner-section__button:hover {
  background-color: #fff;
  color: #222;
}
.tickets__banner-section--container .tickets__banner-section__scroll-animation {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 90%;
  overflow: hidden;
}
.tickets__banner-section--container .tickets__banner-section__scroll-animation span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  margin: 0.5rem;
  animation: scroll 2s infinite;
}
.tickets__banner-section--container .tickets__banner-section__scroll-animation span:nth-child(2) {
  animation-delay: -0.2s;
}
.tickets__banner-section--container .tickets__banner-section__scroll-animation span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes scroll {
  0% {
    opacity: 1;
    transform: rotate(45deg) translate(-20x -20px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(45deg) translate(-20x -20px);
  }
}

/* Segunda Seccion */
.tickets__events-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  padding: 4rem 5rem;
}
@media screen and (max-width: 1000px) {
  .tickets__events-section {
    grid-template-columns: 1fr;
    padding: 5rem 4rem;
  }
}
@media screen and (max-width: 500px) {
  .tickets__events-section {
    padding: 4rem 1.25rem;
  }
}
.tickets__events-section .events-section__event-six, .tickets__events-section .events-section__event-five, .tickets__events-section .events-section__event-four, .tickets__events-section .events-section__event-three, .tickets__events-section .events-section__event-two, .tickets__events-section .events-section__event-one {
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 1.25rem;
  position: relative;
  overflow: hidden;
  background-position: top;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: cover;
  box-shadow: 0px 5px 20px 0px #222;
  transition: transform 0.3s, box-shadow 0.3s;
}
@media screen and (max-width: 500px) {
  .tickets__events-section .events-section__event-six, .tickets__events-section .events-section__event-five, .tickets__events-section .events-section__event-four, .tickets__events-section .events-section__event-three, .tickets__events-section .events-section__event-two, .tickets__events-section .events-section__event-one {
    border-radius: 0;
  }
}
.tickets__events-section .events-section__event-six:hover, .tickets__events-section .events-section__event-five:hover, .tickets__events-section .events-section__event-four:hover, .tickets__events-section .events-section__event-three:hover, .tickets__events-section .events-section__event-two:hover, .tickets__events-section .events-section__event-one:hover {
  transform: scale(0.95);
}
.tickets__events-section .events-section__event-six .events-section__event-text, .tickets__events-section .events-section__event-five .events-section__event-text, .tickets__events-section .events-section__event-four .events-section__event-text, .tickets__events-section .events-section__event-three .events-section__event-text, .tickets__events-section .events-section__event-two .events-section__event-text, .tickets__events-section .events-section__event-one .events-section__event-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 900;
}
.tickets__events-section .events-section__event-six .events-section__event-text--title, .tickets__events-section .events-section__event-five .events-section__event-text--title, .tickets__events-section .events-section__event-four .events-section__event-text--title, .tickets__events-section .events-section__event-three .events-section__event-text--title, .tickets__events-section .events-section__event-two .events-section__event-text--title, .tickets__events-section .events-section__event-one .events-section__event-text--title {
  font-size: 1.5rem;
}
@media screen and (max-width: 500px) {
  .tickets__events-section .events-section__event-six .events-section__event-text--title, .tickets__events-section .events-section__event-five .events-section__event-text--title, .tickets__events-section .events-section__event-four .events-section__event-text--title, .tickets__events-section .events-section__event-three .events-section__event-text--title, .tickets__events-section .events-section__event-two .events-section__event-text--title, .tickets__events-section .events-section__event-one .events-section__event-text--title {
    font-size: 1rem;
  }
}
.tickets__events-section .events-section__event-one {
  background-image: linear-gradient(to top, rgba(156, 156, 158, 0.4), rgba(36, 36, 36, 0.6)), url(../img/tickets1.webp);
  background-position: top;
}
.tickets__events-section .events-section__event-two {
  background-image: linear-gradient(to top, rgba(156, 156, 158, 0.4), rgba(36, 36, 36, 0.6)), url(../img/tickets2.webp);
  background-position: center;
}
.tickets__events-section .events-section__event-three {
  background-image: linear-gradient(to top, rgba(156, 156, 158, 0.4), rgba(36, 36, 36, 0.6)), url(../img/tickets3.webp);
  background-position: center;
}
.tickets__events-section .events-section__event-four {
  background-image: linear-gradient(to top, rgba(156, 156, 158, 0.4), rgba(36, 36, 36, 0.6)), url(../img/tickets4.webp);
  background-position: center;
}
.tickets__events-section .events-section__event-five {
  background-image: linear-gradient(to top, rgba(156, 156, 158, 0.7), rgba(22, 22, 22, 0.8)), url(../img/tickets5.webp);
  background-position: top;
}
.tickets__events-section .events-section__event-six {
  background-image: linear-gradient(to top, rgba(156, 156, 158, 0.4), rgba(36, 36, 36, 0.6)), url(../img/tickets6.webp);
  background-position: top;
}

/*=== PÄGINA PUNTOS DE VENTA ===*/
/*Primer seccion*/
.puntos-de-venta__banner-section--container {
  background-image: linear-gradient(to top, rgba(156, 156, 158, 0.4), rgba(36, 36, 36, 0.6)), url(../img/banner-puntos-de-venta.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 90px);
  color: #fff;
  position: relative;
  display: flex;
}
.puntos-de-venta__banner-section--container .puntos-de-venta__banner-section {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
@media screen and (max-width: 500px) {
  .puntos-de-venta__banner-section--container .puntos-de-venta__banner-section {
    gap: 1.25rem;
  }
}
.puntos-de-venta__banner-section--container .puntos-de-venta__banner-section__title {
  font-size: 3.5rem;
  font-weight: 900;
}
@media screen and (max-width: 500px) {
  .puntos-de-venta__banner-section--container .puntos-de-venta__banner-section__title {
    font-size: 3rem;
  }
}
.puntos-de-venta__banner-section--container .puntos-de-venta__banner-section__description {
  font-weight: 700;
  font-size: 1.5rem;
  max-width: 700px;
}
@media screen and (max-width: 500px) {
  .puntos-de-venta__banner-section--container .puntos-de-venta__banner-section__description {
    font-size: 1.25rem;
  }
}
.puntos-de-venta__banner-section--container .puntos-de-venta__banner-section__scroll-animation {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 90%;
  overflow: hidden;
}
.puntos-de-venta__banner-section--container .puntos-de-venta__banner-section__scroll-animation span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  margin: 0.5rem;
  animation: scroll 2s infinite;
}
.puntos-de-venta__banner-section--container .puntos-de-venta__banner-section__scroll-animation span:nth-child(2) {
  animation-delay: -0.2s;
}
.puntos-de-venta__banner-section--container .puntos-de-venta__banner-section__scroll-animation span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes scroll {
  0% {
    opacity: 1;
    transform: rotate(45deg) translate(-20x -20px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(45deg) translate(-20x -20px);
  }
}

/*Segunda seccion*/
.puntos-de-venta__boleterias-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  padding: 4rem 5rem;
}
@media screen and (max-width: 1000px) {
  .puntos-de-venta__boleterias-section {
    grid-template-columns: 1fr;
    padding: 5rem 4rem;
  }
}
@media screen and (max-width: 500px) {
  .puntos-de-venta__boleterias-section {
    padding: 4rem 1.25rem;
  }
}
.puntos-de-venta__boleterias-section .boleterias-section__ubication {
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 1.25rem;
  position: relative;
  overflow: hidden;
  background-position: top;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: cover;
  padding: 0.5rem;
  opacity: 1;
  transition: transform 0.3s, box-shadow 0.3s;
}
@media screen and (max-width: 500px) {
  .puntos-de-venta__boleterias-section .boleterias-section__ubication {
    border-radius: 0;
  }
}
.puntos-de-venta__boleterias-section .boleterias-section__ubication:hover {
  transform: scale(0.95);
  box-shadow: -8px 11px 20px 0px #222;
}
.puntos-de-venta__boleterias-section .boleterias-section__ubication-map {
  opacity: 0.55;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.puntos-de-venta__boleterias-section .boleterias-section__ubication-text {
  position: absolute;
  top: 0;
  padding: 1.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #222;
  font-size: 1rem;
  font-weight: 900;
}
.puntos-de-venta__boleterias-section .boleterias-section__ubication-text--title {
  font-size: 1.5rem;
}
@media screen and (max-width: 500px) {
  .puntos-de-venta__boleterias-section .boleterias-section__ubication-text--title {
    font-size: 1rem;
  }
}

/*=== PÄGINA SOBRE NOSOTROS ===*/
/*Primer seccion*/
.sobre-nosotros__banner-section--container {
  background-image: linear-gradient(to top, rgba(124, 124, 126, 0.6), rgba(27, 27, 27, 0.8)), url(../img/banner-sobre-nosotros.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 90px);
  color: #fff;
  position: relative;
  display: flex;
}
.sobre-nosotros__banner-section--container .sobre-nosotros__banner-section {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
@media screen and (max-width: 500px) {
  .sobre-nosotros__banner-section--container .sobre-nosotros__banner-section {
    gap: 1.25rem;
  }
}
.sobre-nosotros__banner-section--container .sobre-nosotros__banner-section__title {
  font-size: 3.5rem;
  font-weight: 900;
}
@media screen and (max-width: 500px) {
  .sobre-nosotros__banner-section--container .sobre-nosotros__banner-section__title {
    font-size: 3rem;
  }
}
.sobre-nosotros__banner-section--container .sobre-nosotros__banner-section__description {
  font-weight: 700;
  font-size: 1.5rem;
  max-width: 700px;
}
@media screen and (max-width: 500px) {
  .sobre-nosotros__banner-section--container .sobre-nosotros__banner-section__description {
    font-size: 1.25rem;
  }
}
.sobre-nosotros__banner-section--container .sobre-nosotros__banner-section__scroll-animation {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 90%;
  overflow: hidden;
}
.sobre-nosotros__banner-section--container .sobre-nosotros__banner-section__scroll-animation span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  margin: 0.5rem;
  animation: scroll 2s infinite;
}
.sobre-nosotros__banner-section--container .sobre-nosotros__banner-section__scroll-animation span:nth-child(2) {
  animation-delay: -0.2s;
}
.sobre-nosotros__banner-section--container .sobre-nosotros__banner-section__scroll-animation span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes scroll {
  0% {
    opacity: 1;
    transform: rotate(45deg) translate(-20x -20px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(45deg) translate(-20x -20px);
  }
}

.about-section, .beneficios-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 4rem 5rem;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .about-section, .beneficios-section {
    padding: 4rem 1rem;
  }
}

.about-section .about-section__cards--container, .beneficios-section .beneficios-section__beneficios--container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .about-section .about-section__cards--container, .beneficios-section .beneficios-section__beneficios--container {
    flex-wrap: wrap;
  }
}

.about-section .about-section__cards--container .about-section__card, .beneficios-section .beneficios-section__beneficios--container .beneficios-section__beneficio {
  flex-direction: row;
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 1.25rem;
  position: relative;
  overflow: hidden;
  background-position: top;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: cover;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1.25rem;
  text-align: start;
  border: 1px solid #222;
  transition: transform 0.3s;
}
@media screen and (max-width: 500px) {
  .about-section .about-section__cards--container .about-section__card, .beneficios-section .beneficios-section__beneficios--container .beneficios-section__beneficio {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }
}

/*Segunda seccion*/
.beneficios-section__title {
  font-size: 2.5rem;
  font-weight: 900;
}
.beneficios-section__description {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1.25rem;
}
.beneficios-section .beneficios-section__beneficios--container .beneficios-section__beneficio:hover {
  transform: scale(0.96);
}
.beneficios-section .beneficios-section__beneficios--container .beneficios-section__beneficio__icon--container {
  display: flex;
  justify-content: start;
}
.beneficios-section .beneficios-section__beneficios--container .beneficios-section__beneficio__icon--container .beneficios-section__beneficio-icon {
  color: #afa2ff;
}
.beneficios-section .beneficios-section__beneficios--container .beneficios-section__beneficio-title {
  font-size: 1.75rem;
  font-weight: 900;
}
.beneficios-section .beneficios-section__beneficios--container .beneficios-section__beneficio-description {
  font-size: 1.25rem;
  font-weight: 700;
}

/* Tercer seccin */
.about-section__title {
  font-size: 2.5rem;
  font-weight: 900;
}
.about-section__description {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1.25rem;
}
.about-section .about-section__cards--container .about-section__card:hover {
  transform: scale(0.96);
}
.about-section .about-section__cards--container .about-section__card-title {
  font-size: 1.5rem;
  font-weight: 900;
}
.about-section .about-section__cards--container .about-section__card-description {
  font-size: 1.25rem;
  font-weight: 700;
}

/*PÁGINA AYUDA*/
/*Primer seccion*/
.ayuda__banner-section--container {
  background-color: #afa2ff;
  height: 50vh;
  display: flex;
}
@media screen and (max-width: 500px) {
  .ayuda__banner-section--container {
    height: 65vh;
  }
}
.ayuda__banner-section--container .ayuda__banner-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 5rem;
}
@media screen and (max-width: 500px) {
  .ayuda__banner-section--container .ayuda__banner-section {
    padding: 1.5rem 0;
    padding-left: 1.25rem;
  }
}
.ayuda__banner-section--container .ayuda__banner-section__span {
  text-align: center;
  padding: 0.75rem;
  font-weight: 700;
  border-radius: 20px;
  background-color: #222;
  max-width: 250px;
}
@media screen and (max-width: 500px) {
  .ayuda__banner-section--container .ayuda__banner-section__span {
    max-width: 190px;
  }
}
.ayuda__banner-section--container .ayuda__banner-section__title {
  font-size: 3.5rem;
  font-weight: 900;
}
@media screen and (max-width: 500px) {
  .ayuda__banner-section--container .ayuda__banner-section__title {
    font-size: 3rem;
  }
}
.ayuda__banner-section--container .ayuda__banner-section__description {
  font-weight: 700;
  font-size: 1.5rem;
}
.ayuda__banner-section--container .ayuda__banner-section__button {
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  max-width: 250px;
  color: #fff;
  background-color: #222;
  transition: background-color 0.3s, color 0.3s;
  background-color: #222;
}
.ayuda__banner-section--container .ayuda__banner-section__button:hover {
  background-color: #fff;
  color: #222;
}
@media screen and (max-width: 500px) {
  .ayuda__banner-section--container .ayuda__banner-section__button {
    max-width: 200px;
  }
}
.ayuda__banner-section--container .ayuda__banner-section__button:hover {
  background-color: #fff;
  color: #222;
}

/*Segunda seccion*/
.ayuda__contact-section {
  padding: 3rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
@media screen and (max-width: 800px) {
  .ayuda__contact-section {
    padding: 3rem 1.25rem;
  }
}
.ayuda__contact-section .contact-section__title {
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  margin-right: 0.5rem;
}
.ayuda__contact-section .contact-section__description {
  font-size: 1.25rem;
  max-width: 750px;
  text-align: center;
  margin-right: 0.5rem;
}
.ayuda__contact-section .contact-section__form {
  width: 100%;
  max-width: 750px;
  display: grid;
  gap: 0.75rem;
}
.ayuda__contact-section .contact-section__form-input {
  width: 95%;
  padding: 0.5rem;
  border: 1px solid #222;
  transition: border 0.2s;
}
.ayuda__contact-section .contact-section__form-input:focus {
  border: 2px solid #222;
  outline: none;
}
.ayuda__contact-section .contact-section__form-label {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
}
.ayuda__contact-section .contact-section__form__select-container {
  position: relative;
  display: flex;
  max-width: 700px;
  overflow: hidden;
  border-radius: 0.25rem;
  min-width: 200px;
  height: 2em;
}
.ayuda__contact-section .contact-section__form__select-container .contact-section__form__select {
  border: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background-image: none;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #afa2ff;
}
.ayuda__contact-section .contact-section__form__select-container .contact-section__form__select::-ms-expand {
  display: none;
}
.ayuda__contact-section .contact-section__form__select-container .contact-section__form__select-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5rem;
  height: 100%;
  background-color: #afa2ff;
}
.ayuda__contact-section .contact-section__form__select-container .contact-section__form__select-icon-container .contact-section__form__select__icon {
  position: absolute;
  top: 5%;
  font-size: 1.25rem;
}
.ayuda__contact-section .contact-section__form-textarea {
  resize: none;
}
.ayuda__contact-section .contact-section__form-button {
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  max-width: 250px;
  color: #fff;
  background-color: #222;
  transition: background-color 0.3s, color 0.3s;
  width: 200px;
  justify-self: center;
  margin-top: 1rem;
}
.ayuda__contact-section .contact-section__form-button:hover {
  background-color: #fff;
  color: #222;
}
.ayuda__contact-section .contact-section__form-button:hover {
  background-color: #afa2ff;
  color: #fff;
}

/*Tercer seccion*/
.ayuda__preguntas-section--container {
  background-color: rgba(177, 177, 177, 0.5);
}
.ayuda__preguntas-section--container .preguntas-section {
  max-width: 700px;
  padding: 3rem 0;
}
@media screen and (max-width: 800px) {
  .ayuda__preguntas-section--container .preguntas-section {
    max-width: 500px;
  }
}
.ayuda__preguntas-section--container .preguntas-section__title {
  font-weight: 900;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

/*Cuarta seccion*/
.ayuda__cards-section--container {
  background-color: rgba(177, 177, 177, 0.5);
}
.ayuda__cards-section--container .cards-section {
  padding: 3rem;
}
.ayuda__cards-section--container .cards-section__row {
  gap: 1.5rem;
}
.ayuda__cards-section--container .cards-section__row .cards-section__card {
  overflow: hidden;
  padding: 1rem;
  padding-left: 1.25rem;
  background-color: #fff;
  height: 175px;
}
@media screen and (max-width: 1000px) {
  .ayuda__cards-section--container .cards-section__row .cards-section__card {
    height: auto;
  }
}
.ayuda__cards-section--container .cards-section__row .cards-section__card-title {
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0.5rem 0;
}
@media screen and (max-width: 1200px) {
  .ayuda__cards-section--container .cards-section__row .cards-section__card-title {
    padding: 0;
  }
}
@media screen and (max-width: 300px) {
  .ayuda__cards-section--container .cards-section__row .cards-section__card-title {
    max-width: 220px;
  }
}
.ayuda__cards-section--container .cards-section__second-row {
  padding-top: 1.5rem;
}

/* Errors*/
* {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
}

body {
  background-color: #D4D9ED;
}

.cont_principal {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cont_principal .cont_error {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 50%;
  margin-top: -150px;
}
.cont_principal .cont_error h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 150px;
  color: #fff;
  position: relative;
  left: -100%;
  transition: all 0.5s;
}
.cont_principal .cont_error p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 5px;
  color: #9294AE;
  position: relative;
  left: 100%;
  transition: all 0.5s;
  transition-delay: 0.5s;
  -webkit-transition: all 0.5s;
  -webkit-transition-delay: 0.5s;
}
.cont_principal .cont_error .cont_aura_1 {
  position: absolute;
  width: 300px;
  height: 120%;
  top: 25px;
  right: -340px;
  background-color: #8A65DF;
  box-shadow: 0px 0px 60px 20px rgba(137, 100, 222, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cont_principal .cont_error .cont_aura_2 {
  position: absolute;
  width: 100%;
  height: 300px;
  right: -10%;
  bottom: -301px;
  background-color: #8B65E4;
  box-shadow: 0px 0px 60px 10px rgba(131, 95, 214, 0.5), 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  z-index: 5;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.cont_principal .cont_error_active .cont_error h1 {
  left: 0%;
}
.cont_principal .cont_error_active .cont_error p {
  left: 0%;
}
.cont_principal .cont_error_active .cont_aura_2 {
  transform: rotate(-20deg);
}
.cont_principal .cont_error_active .cont_aura_1 {
  transform: rotate(20deg);
  right: -170px;
}

/*===Estilos generales===*/
body {
  scroll-behavior: smooth; /*Hace que el scroll al tocar un boton que lleva a una seccion sea mas suave*/
  font-family: "Roboto", sans-serif;
}

/*Ayuda a la accesibilidad, al navegar con el tab por los items de la pagina que tienen el atributo tabindex se les añade un borde de otro color*/
[tabindex]:focus-visible {
  outline: 5px solid rgb(75, 126, 236);
}

/*# sourceMappingURL=main.css.map */
