/*PÁGINA AYUDA*/
/*Primer seccion*/
.ayuda__banner-section--container {
    background-color: $complementary-color;
    height: 50vh;
    display: flex;
    @include mobile {
        height: 65vh;
    }
    .ayuda__banner-section {
        @include flex-center;
        flex-direction: column;
        gap: $space-lg;
        padding-left: $space-4xl;
        @include mobile {
            padding: $space-lg 0;            
            padding-left: $space-md;
        }
        &__span {
            text-align: center;
            padding: $space-xs;
            font-weight: $font-bold;
            border-radius: 20px;
            background-color: $secondary-color;
            max-width: 250px;
            @include mobile {
                max-width: 190px;
            }
        }
        &__title {
            @include banner-title__styles
        }
        &__description {
            font-weight: $font-bold;
            font-size: $font-size-md;
        }
        &__button {
            @include button;
            background-color: $secondary-color;
            @include mobile {
                max-width: 200px;
            }
            &:hover {
                background-color: $primary-color;
                color: $secondary-color;
            }
        }
    }
}

/*Segunda seccion*/
.ayuda__contact-section {
    padding: $space-2xl 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-md;
    @include tablet-small {
        padding: $space-2xl $space-md;
    }
    .contact-section__title {
        font-weight: $font-black;
        font-size: $font-size-xl;
        text-align: center;
        margin-right: $space-xxs;
    }
    .contact-section__description {
        font-size: $font-size-sm;
        max-width: 750px;
        text-align: center;
        margin-right: $space-xxs;
    }
    .contact-section__form {
        width: 100%;
        max-width: 750px;
        display: grid;
        gap: $space-xs;
        &-input {
            width: 95%;
            padding: $space-xxs;
            border: 1px solid $secondary-color;
            transition: border 0.2s;
            &:focus {
                border: 2px solid $secondary-color;
                outline: none;
            }
        }
        &-label {
            margin-top: $space-sm;
            font-size: $font-size-xs;
            font-weight: $font-bold;
        }
        &__select-container {
            position: relative;
            display: flex;
            max-width: 700px;
            overflow: hidden;
            border-radius: 0.25rem;
            min-width: 200px;
            height: 2em;
            .contact-section__form__select {
                border: none;
                appearance: none;
                outline: 0;
                box-shadow: none;
                background-image: none;
                width: 100%;
                padding: $space-xxs;
                cursor: pointer;
                background-color: $complementary-color;
                &::-ms-expand{
                    display: none;
                }
                &-icon-container {
                    @include flex-center;
                    align-items: center; 
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 1.5rem;
                    height: 100%;
                    background-color: $complementary-color;
                    .contact-section__form__select__icon {
                        position: absolute;
                        top: 5%;
                        font-size: $font-size-sm;
                    }
                }
            }
        }
        &-textarea {
            resize: none;
        }
        &-button {
            @include button;
            width: 200px;
            justify-self: center;
            margin-top: $space-sm;
            &:hover {
                background-color: $complementary-color;
                color: $primary-color;
            }
        }
    }
}


/*Tercer seccion*/
.ayuda__preguntas-section--container {
    background-color: $secondary-color-lighter;
    .preguntas-section {
        max-width: 700px;
        padding: $space-2xl 0;
        @include tablet-small {
            max-width: 500px;
        }
        &__title {
            font-weight: $font-black;
            font-size: $font-size-xl;
            padding-bottom: $space-lg;
        }
    }
}


/*Cuarta seccion*/
.ayuda__cards-section--container{
    background-color: $secondary-color-lighter;
    .cards-section {
        padding: $space-2xl;
        &__row {
            gap: $space-lg;
            .cards-section__card {
                overflow: hidden;
                padding: $space-sm;
                padding-left: $space-md;
                background-color: $primary-color;
                height: 175px;
                @include tablet {
                    height: auto;
                }
                &-title {
                    font-size: $font-size-md;
                    font-weight: $font-black;
                    padding: $space-xxs 0;
                    @media screen and (max-width:1200px) {
                        padding: 0;
                    }
                    @media screen and (max-width:300px) {
                        max-width: 220px;
                    }
                }
            }
        } 
        &__second-row {
            padding-top: $space-lg;
        }  
    }
}