/*=== PÄGINA PUNTOS DE VENTA ===*/
/*Primer seccion*/
.puntos-de-venta__banner-section--container {
    background-image:linear-gradient(to top, rgba(156, 156, 158, 0.4), rgba(36, 36, 36, 0.6)), url(../img/banner-puntos-de-venta.webp);
    @include banner-container__styles;
    display: flex;
    .puntos-de-venta__banner-section {
        @include banner-styles;
        &__title {
            @include banner-title__styles;
        }
        &__description {
            font-weight: $font-bold;
            font-size: $font-size-md;
            max-width: 700px;
            @include mobile {
                font-size: $font-size-sm;
            }
        }
        &__scroll-animation {
            @include scroll-animation; 
        }
    }
}


/*Segunda seccion*/
.puntos-de-venta__boleterias-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $space-md;
    padding: $space-3xl $space-4xl;
    @include tablet {
        grid-template-columns: 1fr;
        padding: $space-4xl $space-3xl;
    }
    @include mobile {
        padding: $space-3xl $space-md;
    };
    .boleterias-section__ubication {
        @include card;
        padding: $space-xxs;
        opacity: 1;
        transition: 
            transform 0.3s,
            box-shadow 0.3s;
        @include mobile {
            border-radius: 0;
        }
        &:hover {
            transform: scale(0.95);
            box-shadow: -8px 11px 20px 0px $secondary-color;
        }
        &-map {
            opacity: 0.55;
            border-radius: 5px;
            width: 100%;
            height: 100%;
        }
        &-text {
            position: absolute;
            top: 0;
            padding: 1.25rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: $secondary-color;
            font-size: $font-size-xs;
            font-weight: $font-black;
            &--title {
                font-size: $font-size-md;
                @include mobile {
                    font-size: $font-size-xs;
                }
            }
        }
    }
}